<script>
  import { stores } from '@sapper/app'
  import Matomo, { matomo } from '@dexlib/svelte-matomo'
  // import 'highlight.js/styles/monokai-sublime.css'
  // import 'highlight.js/styles/monokai.css'
  import 'highlight.js/styles/obsidian.css'
  // import 'highlight.js/styles/hybrid.css'

  const { page } = stores()

  $: if ($page) matomo.trackPageView()
</script> 

<Matomo url='https://analytics.dxlb.nl' siteId=3 />

<slot></slot>