<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 140.468 51.7263"
   height="51.7263mm"
   width="140.468mm">

   <style>
      @font-face {
         font-family: 'Emoji';
         src: url('/fonts/NotoColorEmoji.ttf');
      }

      @font-face {
         font-family: 'Recursive';
         src: url('/fonts/recursive.woff2') format('woff2');
      }

      path, rect {
         fill:none;
         stroke:#00fb7c;
         stroke-width:1;
         stroke-linecap:round;
         stroke-linejoin:round;
         stroke-miterlimit:4;
      }

      flowRoot, text, tspan {
         font-family: 'Recursive', 'Emoji';
         letter-spacing:0px;
         fill:#f9ffeb;
      }
      flowRoot {
         font-size:40px;
         line-height:125%;
      }
      tspan, text {
         font-size:10px;
         line-height:125%;
      }
   </style>
  <defs
     id="defs2" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g transform="translate(-42.5261,-39.5911)">
    <g transform="translate(60.6273,-1.20953)">
      <rect
         width="37.9536"
         height="16.0374"
         x="13.8974"
         y="46.3006"
         ry="1.90274" />
      <text 
         width="177.787"
         height="70.7106"
         x="15.2974"
         y="57.3006">Sapper</text>
   </g>
    <g
       id="g893"
       transform="translate(60.6273,23.3865)">
      <rect
         ry="1.90274"
         y="46.3006"
         x="13.8974"
         height="16.0374"
         width="37.9536"
         id="rect883"/>

      <text 
         width="177.787"
         height="70.7106"
         x="15.2974"
         y="57.3006">
         Hasura
      </text>
   </g>
    <text
       y="56.7541"
       x="47.1024"
       xml:space="preserve"><tspan
         y="56.7541"
         x="47.1024"
         id="tspan895">💻</tspan></text>
    <path d="m 60.3695,53.411 h 11.6763" />
    <path d="m 65.7794,53.411 v 24.83 h 6.2664" />
    <path d="m 115.392,78.2412 h 4.334" />
    <g transform="translate(109.366,23.4793)">
      <rect
         width="59.044"
         height="15.8511"
         x="13.9906"
         y="46.3938"
         ry="1.88063" />
         
      <text 
         width="177.787"
         height="70.7106"
         x="15.2974"
         y="57.3006">
         PostgreSQL
      </text>
    </g>
           
    <path d="m 91.954,63.0456 v 4.4379" />
    <g
       transform="translate(122.965,-15.8172)"
       id="g834-7" />
  </g>
</svg>
