<script context=module>
  import { writable } from 'svelte/store'
  const presentation = '14-9-2019.svelte-meetup'

  export async function preload(page) {
    const res = await this.fetch(`/${presentation}.json`)
    const slides = await res.json()

    return {
      slides
    }
  }
</script>

<script>
  import { setContext } from 'svelte'

  export let slides
  export let steps = writable([])
  export let currentStep = writable()

  setContext('steps', steps)
  setContext('currentStep', currentStep)

  import SlideManager from 'src/components/SlideManager.svelte'
</script>

<SlideManager {steps} {currentStep} {slides} {presentation} />

<main>
  <slot></slot>

  <section class=logo>
    <img src='images/dexter.svg' alt=dexter />
    <img src='images/passionate-people.png' alt=pp />
  </section>
</main>

<style>
main {
  margin: 1.5em;
  box-sizing: border-box;
}

.logo {
  opacity: 0.7;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: -10;
}
.logo > img {
  height: 6rem;
  width: 6rem;
}
</style>