
<content>
  <img alt='sapper logo' src='/images/sapper-logo-vertical.svg' />
  <h1>Powerful flexibility</h1>
</content>

<style>
content {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 30rem;
  height: 30rem;
}
</style>
