<header>
  <h1>What is</h1>
  <img alt='sapper logo' src='/images/sapper-logo-horizontal.svg' />
  <h1>?</h1>
</header>

<slot />


<style>
  header {
    display: flex;
  }
  h1 {
    white-space: nowrap;
    margin: 1rem 0;
  }
  img {
    width: 25rem;
  }
</style>