<script>
  import { tweened } from 'svelte/motion'
  import { time, sinoid } from './util'
  const size = 20
  const move = sinoid(0.01)
  $: rotation = ($time / 100000) * Math.PI

  const modifier = tweened(0, {duration: 5000})

  const _lines = [...Array(size)]
    .map((_, index) => index - size/2)
  $: lines = (
    ({ x, y }) => _lines.map((value, index) => {
      const offset = (value + Math.sin($move * index + $time/100000)) * 2
      const xoff = Math.sin(rotation + Math.PI/2 + $modifier * index) * offset
      const yoff = Math.cos(rotation + Math.PI/2 + $modifier * index) * offset
      return {
        x1: -x + xoff,
        y1: -y + yoff,
        x2: x + xoff,
        y2: y + yoff,
        style: `stroke-width:${1.1 + Math.sin($move * index)};`,
      }
      // position: (index + Math.sin(index * $move)) / 5 - size,
      // rotation: $rotate * 2 * Math.PI
    }))({
      x: Math.sin(rotation) * size,
      y: Math.cos(rotation) * size
    })
</script>

<svelte:window
  on:mousedown={() => modifier.set(1)}
  on:mouseup={() => modifier.set(0)}
/>

<svg viewBox="{-size/2} {-size/2} {size} {size}">
  {#each lines as line, i (i)})
    <line {...line} />
  {/each}
</svg>

<style>
  svg {
    position: fixed;
    z-index: -10;
    top: 0; bottom: 0;
  }
  line {
    stroke-width: 0.01;
    stroke: var(--orange-1);
    opacity: 0.1;
  }
</style>