<script>
  import { derived, get } from 'svelte/store'
  import { tweened } from 'svelte/motion'
  import { goto, stores } from '@sapper/app'

  const { page } = stores()

  export let slides
  export let steps
  export let currentStep
  export let presentation

  const currentSlide = derived([page, steps], ([$page, $steps]) => {
    const [path, match] = $page.path.match(/^\/[^\/]+\/?(.*)$/) || []

    return match || slides[0]
  })

  $: slideIndex = $currentSlide && slides.indexOf($currentSlide)
  $: stepIndex = $steps.length && $steps.indexOf($currentStep)
  // Since slides are loaded on component load, getting the new step is required to be a function for the reaction to call
  let getFreshStep = () => 0
  $: {
    $currentStep = $steps.length ? $steps[getFreshStep()] : undefined
  }

  const progress = tweened(0, { duration: 200 })
  $: {
    $progress = (
      (slideIndex / (slides.length - 1)) + (
      ((stepIndex / $steps.length) / slides.length) || 0
    ))
  }

  const isInteractiveElement = (event) => {
    const { keyCode, metaKey, shiftKey, altKey, ctrlKey } = event

    // Whitelist specific modified + keycode combinations
    const prevSlideShortcut = shiftKey && keyCode === 32;
    const firstSlideShortcut = ( metaKey || ctrlKey ) && keyCode === 37;
    const lastSlideShortcut = ( metaKey || ctrlKey ) && keyCode === 39;

    // Is there a focused element that could be using the keyboard?
    const { activeElement } = document

    const keyboardElement = activeElement && (activeElement.contentEditable !== 'inherit'
      || activeElement.tagName && /input|textarea|button/i.test( activeElement.tagName )
      || activeElement.className && /speaker-notes/i.test( activeElement.className)
    )

    // Prevent all other events when a modifier is pressed
    const unusedModifier =  !prevSlideShortcut && !firstSlideShortcut && !lastSlideShortcut &&
                ( shiftKey || ctrlKey || metaKey || altKey );

    // Disregard the event if there's a focused element or a
    // keyboard modifier key is present
    return keyboardElement || unusedModifier
  }
  
  const onKeydown = (event) => {
    const { keyCode, shiftKey } = event

    // Remember if auto-sliding was paused so we can toggle it
    // var autoSlideWasPaused = autoSlidePaused;

    // onUserInput( event );

    if (isInteractiveElement(event)) {
      return
    }

    // Assume true and try to prove false
    let triggered = true;

    // 3. System defined key bindings

    // P, PAGE UP
    if( keyCode === 80 || keyCode === 33 ) {
      previous()
    }
    // N, PAGE DOWN
    else if( keyCode === 78 || keyCode === 34 ) {
      next()
    }
    // H, LEFT
    else if( keyCode === 72 || keyCode === 37 ) {
      previous()
    }
    // L, RIGHT
    else if( keyCode === 76 || keyCode === 39 ) {
      next()
    }
    // K, UP
    else if( keyCode === 75 || keyCode === 38 ) {
      previousSlide()
    }
    // J, DOWN
    else if( keyCode === 74 || keyCode === 40 ) {
      nextSlide()
    }
    // HOME
    else if( keyCode === 36 ) {
      first()
    }
    // END
    else if( keyCode === 35 ) {
      last()
    }
    // SPACE
    else if( keyCode === 32 ) {
      if( shiftKey ) {
        previous()
      }
      else {
        next()
      }
    } else if (keyCode === 191) { // /
      debug = !debug
    } else {
      triggered = false;
    }

    // If the input resulted in a triggered action we should prevent
    // the browsers default behavior
    if( triggered ) {
      event.preventDefault && event.preventDefault();
    }
  }
  const onClick = (event) => {
    console.log("Clicked:", event.target)

    if (!isInteractiveElement(event)) {
      next()
    }
  }

  const gotoSlide = (slide) => {
    if (slide) {
      $steps = []
      goto(`${presentation}/${slide}`)
    } 
  }
  const nextSlide = () => {
    if (slideIndex < slides.length - 1) {
      getFreshStep = () => 0
      gotoSlide(slides[slideIndex+1])
    }
  }
  const next = () => {
    if (($steps.length > 0) && (stepIndex < ($steps.length-1))) {
      $currentStep = $steps[stepIndex + 1]
    } else {
      nextSlide()
    }
  }
  const previousSlide = () => {
    if (slideIndex > 0) {
      getFreshStep = () => $steps.length - 1
      gotoSlide(slides[slideIndex-1])
    }
  }
  const previous = async () => {
    // Check steps
    if (($steps.length > 0) && (stepIndex > 0)) {
      currentStep.set($steps[stepIndex - 1])
    } else {
      previousSlide()
    }
  }
  const first = () => {
    gotoSlide(slides[0])
  }
  const last = () => {
    gotoSlide(slides[slides.length - 1])
  }

  let debug = false
</script>

<svelte:window
  on:keydown={onKeydown}
/>

<progress value={$progress} />

<style>
  progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
      -moz-appearance: none;
            appearance: none;
    
    /* Get rid of default border in Firefox. */
    border: none;
    background: var(--background);

    position: fixed;
    height: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  progress::-webkit-progress-bar {
    background: var(--background);
  }
  progress::-moz-progress-bar {
    background: var(--green-1);
  }
  progress::-webkit-progress-value {
    background: var(--green-1);
  }
</style>