<script context=module>
  import { writable } from 'svelte/store'
  const presentation = '28-1-2020.serverless-svelte'

  export async function preload(page) {
    const res = await this.fetch(`/${presentation}.json`)
    const slides = await res.json()

    return {
      slides
    }
  }
</script>

<script>
  import { setContext } from 'svelte'

  export let slides
  export let steps = writable([])
  export let currentStep = writable()

  setContext('steps', steps)
  setContext('currentStep', currentStep)

  import SlideManager from 'src/components/SlideManager.svelte'
</script>

<SlideManager {steps} {currentStep} {slides} {presentation} />

<slot></slot>

