
<script>
  let mono = 1
  let casl = 0
  let wght = 734
  let slnt = 0
  let ital = 0.5
</script>

<section style='
      --mono:"MONO" {mono};
      --casl:"CASL" {casl};
      --wght:"wght" {wght};
      --slnt:"slnt" {slnt};
      --ital:"ital" {ital};
    '>
  <h1>
    Test driving <a href='https://www.recursive.design/'>recursive</a>
  </h1>

  <ul>
    <li>mono: <input type=range min=0 max=1 step=0.01 bind:value={mono} /></li>
    <li>casl: <input type=range min=0 max=1 step=0.01 bind:value={casl} /></li>
    <li>wght: <input type=range min=300 max=1000 step=1 bind:value={wght} /></li>
    <li>slnt: <input type=range min=-15 max=0 step=0.1 bind:value={slnt} /></li>
    <li>ital: <input type=range min=0 max=1 step=0.5 bind:value={ital} /></li>
  </ul>

  <pre>
  style &lbrace;
    --mono:"MONO" {mono};
    --casl:"CASL" {casl};
    --wght:"wght" {wght};
    --slnt:"slnt" {slnt};
    --ital:"ital" {ital};
  &rbrace;
  </pre>

  <div style='white-space: pre;' contenteditable="true">
Recursive
mooi font hoor
0: 123,456.789
~!@#$%^&*()
for i in range () 
</div>
</section>

<section>
  <h1>Current styles</h1>
  <h2>Subtitle</h2>
  <p>Here's some content.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet eget commodo nec, auctor a sapien. Nam eu neque vulputate diam rhoncus faucibus. Curabitur quis varius libero. Lorem.</p>
</section>

<style>

  * {
    font-family: "Recursive";
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--ital);
  }
</style>