<div class='title'>
  <slot />
</div>

<style>
  .title {
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow: column;
    
    justify-content: center;
    align-items: center;
    
    min-height: 400px;
  }
</style>