
@font-face {
  font-family: 'Emoji';
  src: url('/fonts/NotoColorEmoji.ttf');
  /*font-weight: 200;*/
  /*font-style: normal;*/
}

@font-face {
  font-family: 'Recursive';
  src: url('/fonts/recursive.woff2') format('woff2');
}

body {
  --purple-1: #7c00fb;
  --purple-2: #6a04d8;
  --purple-3: #5809b5;
  --purple-4: #460e92;
  --purple-5: #34136f;
  --purple-6: #22184c;

  --green-1: #00fb7c;
  --green-2: #02d66e;
  --green-3: #05b160;
  --green-4: #088c52;
  --green-5: #0a6744;
  --green-6: #0d4236;

  --orange-1: #fb7c00;
  --orange-2: #d36c06;
  --orange-3: #ac5c0d;
  --orange-4: #854c14;
  --orange-5: #5e3c1b;
  --orange-6: #372c22;

  --background: #101d29;
  --color: #f9ffeb;

  --mono:"MONO" 0;
  --casl:"CASL" 0;
  --wght:"wght" 300;
  --slnt:"slnt" 0;
  --ital:"ital" 0;

  font-family: 'Recursive', 'Emoji';

  background: var(--background);
  color: var(--color);

  
  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--ital);
}
* {
  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--ital);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--green-1);

  --casl:"CASL" 1;
  --wght:"wght" 700;
  --slnt:"slnt" -7;

  margin: 0 0 0.5em 0;
  line-height: 1.2;
}
h1 {
  font-size: 2em;
}
h2, h3 {
  --slnt: "slnt" 0;
  --casl: "CASL" 0.5;
}

h4, h5, h6 {
  --slnt: "slnt" 0;
  --casl: "CASL" 0;
}


img {
  max-width: 60vw;
  max-height: 60vh;
}

a {
  color: inherit;
}

.slides-container {
  font-size: 34px;
  margin: 1em;
}

.hljs {
  background: none !important;
  font-size: 20px;
}