<script>
  import Repl from 'src/components/Repl'
  import { stores } from '@sapper/app';
  const { page } = stores();
</script>

<section>
  <Repl example={$page.params.slug} />
</section>

<style>
  section {
    background: white;
    height: 100%;
  }
</style>
