<script context=module>
  export async function preload() {
    const res = await this.fetch('examples.json')
    return {
      examples: await res.json()
    }
  }
</script>

<script>
  export let examples = []
</script>

<ul>
{#each examples as { title, slug }}
  <li>
    <a href='/examples/{slug}'>{title}</a>
  </li>
{/each}
</ul>