<script>
  import { onMount } from 'svelte'
  let points = 500 // points to spin
  let t = 1.5
  let speed = 0.0001
  

  function tick() {
    t += speed
  }
  
  onMount(() => {
    let running = true
    const makeTick = () => {
      if (running) {
        tick()
        window.requestAnimationFrame(makeTick)
      }
    }
    makeTick()
    return () => {
      running = false
    }
  })
  
</script>

<section>
  <svg viewBox="-{points} -{points} {2*points} {2*points}">
    {#each Array(points).fill(0) as _, index}
      <circle
        r=1
        cx={Math.cos(t*index) * index}
        cy={Math.sin(t*index) * index}
      />
      {#if index > 0}
          <line
            x1={Math.cos(t*(index-1)) * (index-1)}
            y1={Math.sin(t*(index-1)) * (index-1)}
            x2={Math.cos(t*index) * index}
            y2={Math.sin(t*index) * index}
          />
      {/if}
    {/each}

  </svg>

</section>
<style>
  section {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    max-height:100%;
  }
  section > span {
    display: flex;
    flex-flow: row;
  }
  svg {
    flex: 1;
    background: gray;
  }
  
  circle {
    fill: white
  }
  
  line {
    stroke: white;
    stroke-width: .1;
  }
</style>